
.btn{
    cursor: pointer;
}

.btn, input[type="submit"]{
    margin: 0.25rem;
    padding: 0.1rem 0.25rem;

    box-sizing: border-box;

    border: var(--light-border);
    border-radius: 4px;

    font-size: 1.05rem;

    color: whitesmoke;
    background-color: var(--accent-red);
    
}

.btn:disabled, .btn[disabled]{
    color: var(--light-shadow);
}